.home {
    margin-bottom: 5rem;
    font-family: 'Varela Round', sans-serif;
}

.infosArea {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-wrap: wrap;
}

